{{> header }}
{{> navbar }}
<div class="row">
	<div class="col-8">
		<h1>Ekko</h1>
		<p>
			Este es Ekko
		</p>	
	</div>
	<div class="col-4">
		<img src="assets/img/Ekko_12.jpg" class="img-thumbnail" />
	</div>
</div>
{{> footer }}